services:
  mysql:
    image: mysql:8.0
    container_name: mysql_server
    restart: always
    env_file: .env
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer:latest
    container_name: adminer_ui
    restart: always
    ports:
      - "${ADMINER_PORT}:8080"
    depends_on:
      - mysql

volumes:
  mysql_data:
